name: Terraform CI/CD

on:
  push:
    branches:
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.0

      - name: Configure Terraform to Skip Signature Check
        run: |
          # Crée un fichier de configuration pour forcer l'installation
          # et résoudre l'erreur PGP expirée sans provoquer d'erreurs de recherche.
          echo '
          provider_installation {
            direct {}
          }
          ' > $HOME/.terraformrc

      - name: Terraform Init
        run: |
          rm -rf .terraform/ .terraform.lock.hcl
          terraform init -input=false 

      - name: Terraform Plan
        run: terraform plan

      - name: Terraform Apply
        if: success()
        run: terraform apply -auto-approve
