name: Terraform CI/CD

on:
  push:
    branches:
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.0  # adapte si besoin

      - name: Terraform Init
        run: |
          rm -rf .terraform/ .terraform.lock.hcl
          terraform init -input=false -verify-plugins=false

      - name: Terraform Plan
        run: terraform plan

      - name: Terraform Apply
        if: success()    # n'exécute que si le plan a réussi
        run: terraform apply -auto-approve

